build
Makefile
.qmake.cache
target
config.h
*.prl
*.o
*.a
*.class
moc_*
debian/asyncthrift.debhelper.log
debian/asyncthrift.substvars
debian/asyncthrift/
debian/files
conf/asyncthrift.ini
conf/log4cxx.xml
conf/log4j.xml
